:root {
    --eurospine-red: rgb(226, 0, 54);
    --eurospine-blue: rgb(1, 48, 96);


}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* font-size: 10px; 10/16 = 62.5% */
    /* pour travailler en rem, 1rem = 10px */
    font-size: 62.5%;
    margin-top: 0 !important;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: #1D1D1D;
}

.txt-blue {
    color: var(--eurospine-blue);
}

h3 {
    margin-top: 10px;
}

.nav {
    padding: 10px 10px;
    border-bottom: 1px solid #D7D7D7;
    background-color: #e1e1e1;
    min-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title h1 {
    font-weight: bold;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #1D1D1D;
    transition: all .3s;
}

.nav-link:hover {
    color: #0079A7;
}


.main-products {
    background-color: #efefef;
}

.homepage {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;

}

.homepage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/shutterstock_1487355809.jpeg");
    filter: blur(2px) contrast(40%) opacity(60%);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: saturation;
    z-index: -1;
}

.homepage h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 10px auto 35px auto;
}

.eurospin-logo {
    width: 250px;
    height: auto;
}

.yes-no-inputs {
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
}

.input-homepage {
    display: none;
}

.label-homepage {
    cursor: pointer;
    border: 2px solid var(--eurospine-blue);
    background: #f7f7f7;
    padding: 15px 40px;
    margin-right: 20px;
    border-radius: 20px;
    font-size: 20px;
}

.input-homepage:checked+.label-homepage {
    background: var(--eurospine-blue);
    color: #f7f7f7;
}

.invalid-code {
    background: red;
    color: #FFF;

}

#order_review_heading {
    margin-bottom: 10px;
}

.inputs-validation {
    text-align: center;
}

.inputs-validation p {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.inputs-validation-infos {
    max-width: 780px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.inputs-validation-infos p {
    margin: 5px 0;
}

#input-validation {
    border: 2px solid var(--eurospine-blue);
    padding: 15px 40px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order-total {
    font-size: 25px;
    font-weight: 800;
}


button#input-button {
    padding: 15px 40px;
    border-radius: 20px;
    border: none;
    background: var(--eurospine-red);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
}

.page-products {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 150px;
}

#customCheckout {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    width: 100%;
    min-height: 80px;
    max-height: max-content;
    color: #FFFFFF;
    background-color: var(--eurospine-blue);
    z-index: 1000;
    font-size: 18px;
    transition: all .2s ease-in-out;
}

#customCheckout .emptySelectionCart {
    display: none;
}

#customCheckout.custom-checkout-empty .emptySelectionCart {
    display: flex;
}

#customCheckout.custom-checkout-empty .recapItemsInCart {
    display: none;
}

#customCheckout .recapItemsInCart {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

.emptySelectionCart {
    font-size: 18px;
}

#customCheckout>div>div:first-child {
    flex: 0 1 220px;
    font-size: 24px;
    font-weight: bold;
}

.item-in-cart {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-height: 20vh;
    overflow-y: auto;
    scrollbar-width: 5px;
    scrollbar-color: #FFF rgba(0, 0, 0, .5);
    margin: 0 20px;
}

/* width */
.item-in-cart::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.item-in-cart::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .5);
}

/* Handle */
.item-in-cart::-webkit-scrollbar-thumb {
    background: #FFF;
}

/* Handle on hover */
.item-in-cart::-webkit-scrollbar-thumb:hover {
    background: var(--eurospine-red);
}

.items {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-right: 20px;
}

.selected-product-title {
    margin-right: 20px;
}

.recap-title {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-product-price {
    font-weight: bold;
}

.button-checkout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}



.custom-checkout-button {
    background-color: var(--eurospine-red);
    color: #FFF;
    border: 3px solid var(--eurospine-red);
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.custom-checkout-button:hover {
    border: 2px solid #FFF;
}

.days {
    flex: 0 0 10%;
    background-color: #FAFAFA;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 120px);
    border-right: 1px solid #D7D7D7;
    margin-right: 20px;
    grid-gap: 10px;
}


.woocommerce-checkout>.single-page>.woocommerce {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

#checkout {
    display: flex;
    flex-direction: column;
}

#order_review {
    display: flex;
}

#payment {
    margin-left: 40px;
}

.woocommerce form.checkout_coupon, .woocommerce-checkout #payment, .woocommerce table.shop_table {
    border-radius: 20px;
    margin-top: 0;
}

.woocommerce .checkout_coupon.woocommerce-form-coupon{
    display:none !important;
}

.days-am-pm {
    color: #C1C1C1;
    display: flex;
    justify-content: start;
    align-items: center;

}

.days-day {
    font-size: 18px;
    font-weight: 700;
}

.day-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.day-2 {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.day-2::before {
    position: absolute;
    top: -5px;
    bottom: -7px;
    left: -20px;
    width: 10vw;
    content: "";
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.day-3 {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.day-1-start {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.day-1-end {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.day-2-start {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.day-2-end {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.day-3-start {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.day-3-end {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.products {
    flex: 0 0 88%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 120px);
    grid-gap: 10px;
    padding-top: 20px;
}



.payment_method_monetico>img {
    width: auto;
}

.product {
    padding: 25px;
    border-radius: 20px;
    position: relative;
    transition: all .3s;
    background-color: #F2F2F2;
    border: 1px solid #D7D7D7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input.product-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.notes {
    position: relative;
    padding: 15px 40px;
    margin-left: 20px;
    margin-bottom: 3px;
    border-radius: 20px;
    background-color: var(--eurospine-blue);
    color: #F2F2F2;
    font-weight: bold;
    font-size: 18px;
}

.notes:hover .notes-infos {
    display: block;
}

.notes-infos {
    display: none;
    position: absolute;
    top: 20px;
    right: 90px;
    padding: 5px 20px 20px 20px;
    border: 1px solid #D7D7D7;
    border-radius: 20px;
    width: 600px;
    background-color: #FFF;
    color: var(--eurospine-blue);
    font-size: 16px;
    font-weight: normal;
    z-index: 10000;
    cursor: help;
}

.product-selected {
    border: 5px solid #0079A7 !important;
}

.product-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.product-title-real {
    padding: 10px 0;
}


.product-title-meta {
    font-weight: normal;
}

.product-title-meta .product-title-mod {
    font-size: 16px;
}

.product-title-meta .product-title-time {
    font-size: 14px;
    font-style: italic;
    color: #222;
}

.selected-product-title {
    display: flex;
    align-content: center;
    align-items: center;
}

.selected-product-title .product-title-real {
    padding: 5px 10px;
}

.selected-product-title .product-title-meta .product-title-time {
    display: none;
}

.product-price {
    font-weight: 700;
    margin-top: 10px;
    display: none;
}

.product-description {
    display: none;
}

.advanced-module-2-revisions-and-complications-management-no,
.advanced-module-2-revisions-and-complications-management-yes {
    grid-column: 5 / 6;
    grid-row: 4 / 6;
}

.advanced-module-1-extended-indications-and-advanced-operative-techniques-no,
.advanced-module-1-extended-indications-and-advanced-operative-techniques-yes {
    grid-column: 5 / 6;
    grid-row: 1 / 4;
}


.module-6-using-literature-to-inform-my-practice-no,
.module-6-using-literature-to-inform-my-practice-yes {

    grid-column: 4 / 5;
    grid-row: 2 / 3;
}


.module-5-tumours-and-inflammatory-diseases-of-the-spine-cohort-1-no-2,
.module-5-tumours-and-inflammatory-diseases-of-the-spine-cohort-1-yes-2 {

    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.module-5-tumours-and-inflammatory-diseases-of-the-spine-cohort-1-no,
.module-5-tumours-and-inflammatory-diseases-of-the-spine-cohort-1-yes {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.module-4-trauma-cohort-1-no-2,
.module-4-trauma-cohort-1-yes-2 {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}



.module-4-trauma-cohort-1-no,
.module-4-trauma-cohort-1-yes {
    grid-column: 3 / 4;
    grid-row: 4 / 5;

}


.module-3-spinal-deformities-cohort-1-no-2,
.module-3-spinal-deformities-cohort-1-yes-2 {

    grid-column: 2 / 3;
    grid-row: 3 / 4;
}


.module-3-spinal-deformities-cohort-1-no,
.module-3-spinal-deformities-cohort-1-yes {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


.module-2-degenerative-diseases-of-the-spine-cohort-1-no,
.module-2-degenerative-diseases-of-the-spine-cohort-1-yes {

    grid-column: 1 / 2;
    grid-row: 4 / 6;
}

.module-2-degenerative-diseases-of-the-spine-cohort-1-no-2,
.module-2-degenerative-diseases-of-the-spine-cohort-1-yes-2 {

    grid-column: 2 / 3;
    grid-row: 5 / 7;
}

.module-1-basic-comprehensive-course-cohort-1-no,
.module-1-basic-comprehensive-course-cohort-1-yes {

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}


.module-1-basic-comprehensive-course-cohort-1-no-2,
.module-1-basic-comprehensive-course-cohort-1-yes-2 {

    grid-column: 1 / 2;
    grid-row: 2 / 3;
}


.empty-product {
    background-color: #f7f7f7;
    border-radius: 20px;
}

.products div:nth-child(n+11).empty-product {
    opacity: 0.8;
}

.products div:nth-child(n+21).empty-product {
    opacity: 1;
}

.euro-mod1>.product-title {
    color: #685A74;
}

.euro-mod1a>.product-title {
    color: #574040;
}

.euro-mod2>.product-title {
    color: #607699;
}

.euro-mod2a>.product-title {
    color: #D07071;
}

.euro-mod3>.product-title {
    color: #99595A;
}

.euro-mod4>.product-title {
    color: #758D56;
}

.euro-mod5>.product-title {
    color: #3F5258;
}

.euro-mod6>.product-title {
    color: #AF8F30;
}

/* ====== UTILITIES ====== */

.display-none {
    display: none;
}

/* ====== CHECKOUT ====== */

.single-page>.woocommerce, .woocommerce-breadcrumb, .single-page {
    padding: 50px 100px;
}

.input-text, .select, .country_select {
    border: 1px solid #D7D7D7;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 16px;
}

img {
    height: auto;
    width: auto;
}

.eurospine-logo {
    width: 60px;
    max-width: 60px;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    width: 100%;
}

#billing_wooccm23_field, #billing_wooccm25_field, #billing_wooccm24_field {
    border-top: 1px solid #D7D7D7;
    padding-top: 30px;
}

.woocommerce-billing-fields {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#billing_email_field, #billing_country_field {
    padding-bottom: 20px;
}

.woocommerce form .form-row-last, .woocommerce-page form .form-row-last {
    float: left;
}

.euro-terms {
    list-style: none;
    padding-left: 20px;
}

.euro-terms li {
    margin: 5px;
}

/* ====== CART ====== */

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    background-color: #0079A7;
    color: #FFFFFF;
    border: 1px solid #0079A7;
    border-radius: 100px;
    transition: all .3s;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
    background-color: #FFFFFF;
    color: #0079A7;
    ;
}

.woocommerce-cart .woocommerce-cart-form, .woocommerce-cart .cart-collaterals {
    padding: 0 400px;
}

/* .woocommerce-cart .woocommerce-breadcrumb {} */

@media screen and (min-width: 1146px) {
    html {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 1750px) {}

@media screen and (max-width: 1505px) {
    .days-day {
        font-size: 16px;
    }

    .days {
        padding: 10px;
    }


}

@media screen and (max-width: 1233px) {
    .days-day {
        font-size: 16px;
    }

    .days {
        padding: 10px;
    }


}

@media screen and (max-width: 1145px) {
    html {
        overflow: scroll;
    }

    body {
        font-size: 1.4rem;
    }

    .product {
        padding: 20px;
    }

    .product-title, .days-day {
        font-size: 14px;
    }

    #customCheckout {
        padding: 20px;
        font-size: 1.4rem;
    }



    .selected-product-title {
        margin-right: 5px;
    }

    .days {
        flex: 0 0 15%;
    }
}

@media screen and (max-width: 760px) {
    .single-page>.woocommerce, .woocommerce-breadcrumb {
        padding: 10px;
    }

    .product-title {
        font-size: 12px;
    }

    .days-day {
        font-size: 10px;
    }

    .nav {
        width: 200%;
    }

    .days {
        flex: 0 0 20%;
    }

    .notes-infos {
        left: -10px;
        bottom: 30px;
    }
}